<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar</title>
</head>
<body>
    <form id="classic" action="/classic" method="get">
        <button id="classic-button" class="gamemode">Classic</button>
    </form>
    <form id="hotstreak" action="/hotstreak" method="get">
        <button id="hotstreak-button" class="gamemode">HotStreak</button>
    </form>
    <div id="timer-container">
        <h2 id="timer"></h2>
        <button id="streak-start-button" onclick="startTimer()">Start</button>
    </div>
</body>
</html>