path:hover {
    fill: #D38FFF;
}

path {
    stroke: #000000;
    stroke-width: 0.05rem;
}

#forms {
    display: inline-flex;
    grid-area: main;
}

#countries {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
svg {
    fill: #616161;
}

h1 {
    color: white;
    margin-left: 1rem;
    margin-bottom: 0;
    font-family: "Playwrite AU VIC", cursive;
    font-optical-sizing: auto;
    font-size: 24px;
    font-style: normal;
    grid-area: header;
}

#timer {
    width: fit-content;
    color: white;
    margin-left: 1rem;
    margin-right: 10px;
    font-family: "Playwrite AU VIC", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    grid-area: sidebar;
    justify-self: end;
}

body {
    background-color: #121212;
}

button {
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    margin: 5px;
}

#submit {
    background-color: #BBDA98;
    font-weight: bold;
}

#restart {
    background-color: #DB5858;
    font-weight: bold;
}

#input {
    border: 3px solid #4C4FDC;
    padding: 10px;
    margin-left: 1rem;
    border-radius: 6px;
}

#text-content {
    display: grid;
    grid-template-rows: 75px 50px;
    grid-template-areas: 
    "header header . sidebar"
    "main main . sidebar";
}