* {
    font-family: "Playwrite AU VIC", cursive;
}

#forms {
    position: fixed;
    top: 55px;
    display: inline-flex;
    grid-area: header;
}

#header {
    grid-area: header;    
}

#map {
    display: flex;
    justify-content: center;
    grid-area: map;
}

#sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
}

.gamemode {
    height: fit-content;
    width: 90%;
    align-self: center;
    font-weight: bold;
}

#classic-button {
    background-color: #A4E9F0;
}

#hotstreak-button {
    background-color: #F0185B;
}

#streak-start-button {
    width: 90%;
    height: fit-content;
    margin-top: 20px;
    font-weight: bold;
    background-color: greenyellow;
    align-self: center;
}

#stop-button {
    width: 90%;
    height: fit-content;
    margin-top: 20px;
    font-weight: bold;
    background-color: #f4273f;
    align-self: center;
}

#timer {
    width: fit-content;
    color: white;
    font-size: 24px;
    grid-area: sidebar;
    align-self: center;
}

button {
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    margin: 5px;
}

#country-guess {
    border: 3px solid #4C4FDC;
    padding: 10px;
    border-radius: 6px;
    height: 20px;
}

#main-container {
    display: grid;
    grid-template-rows: 50px 50px auto;
    grid-template-areas: 
    "header header sidebar"
    "main main sidebar"
    "map map sidebar";
}

h1 {
    position: fixed;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
}

body {
    background-color: #121212;
}

svg {
    fill: #616161;
}

path:hover {
    fill: #D38FFF;
}

path {
    stroke: #000000;
    stroke-width: 0.05rem;
}

#submit-guess {
    background-color: #BBDA98;
    font-weight: bold;
}

#restart {
    background-color: #DB5858;
    font-weight: bold;
}

.hidden {
    visibility: hidden;
}

#info {
    color: white;
    font-weight: bold;
    grid-area: sidebar;
    width: 200px;
    align-self: center;
    margin: 0;
}